---
- name: Setup suse
  tags: install
  block:
    - name: Install Icinga2 packages
      ansible.builtin.package:
        name: "{{ item }}"
        state: present
      loop: "{{ icinga2_packages }}"

    - name: Install Icinga2 plugins
      ansible.builtin.package:
        name: "{{ item }}"
        state: present
      loop: "{{ icinga2_plugins }}"
      when: install_nagios_plugins|bool and ansible_distribution_major_version|int >= 8
      tags: install_nagios_plugins

    - name: Install Icinga2 plugins
      ansible.builtin.package:
        name: "{{ item }}"
        state: present
      loop:
        - nagios-plugins-basic
        - nagios-plugins-standard
      when: install_nagios_plugins|bool and ansible_distribution_major_version|int < 8
      tags: install_nagios_plugins

    - name: Configure sudoers
      ansible.builtin.template:
        src: icinga_sudo.j2
        dest: /etc/sudoers.d/icinga
        owner: root
        group: root
        mode: "0440"
      tags: install_nagios_plugins

      # TODO: unsupported on debian based distros
      # - name: Install Eurotux release
      # yum:
      # name: "{{ eurotux_release }}"
      # state: installed
      # when: install_nagios_plugins_etux|bool

      # - name: Install nagios_plugins_etux
      # yum: name=nagios-plugins-etux state=installed
      # when: install_nagios_plugins_etux|bool

    - name: Enable and start Icinga2
      ansible.builtin.systemd:
        name: icinga2
        enabled: true
        state: started
      when: ansible_distribution_major_version|int >= 8

    - name: Enable and start Icinga2
      ansible.builtin.sysvinit:
        name: icinga2
        enabled: true
        state: started
      when: ansible_distribution_major_version|int < 8
